body {

  font-family: arial;
  font-color:slategray;
}
h1 {
  color: green;
  margin-bottom: 0%;
}
h2 {
  color: green;
  margin-bottom: 0%;

}

li {
  color: green;
  margin-bottom: 0%;

}
@media only screen and (max-width: 600px) {
.column {
  float: left;
  padding: 10px;
  height: 30%; /* Should be removed. Only for demonstration */
}
}
